body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Georgia,"Times New Roman",serif;
}

p, li {
  font-family: Helvetica, sans-serif;
  font-size: 17pt;
  line-height: 1.2em;
  word-spacing: auto;
  text-align: left;
  margin-bottom: 10px;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover, a:focus {
  color: #edbc1c;
}

p, li {
  font-size: 16px;
  line-height:21px;
  word-spacing: 0px;
  text-align: justify;
  margin-bottom: 10px;
}

li {
  list-style-type: disc outside none;
  margin-bottom: 5px;
}

.topmenu a.link {
  padding: 12px;
  padding-bottom: 11px;
  text-decoration: none;
}

.topmenu a.link:hover {
  background-color: #ebb71c;
  color: #fff;
  text-decoration: none;
}

.topmenu {
  float:right;
  margin-top:10px;
}

.topmenu ul li {
  list-style-type:none;
}

.topmenu li.element {
  display:inline;
}

.layout {
  padding: 0;
  width: 960px;
  margin: 0 auto;
}

.content {
  clear:both;
  width: 100%;
  margin: 30px 0;
  padding-top: 10px;
}

h1 {
  color:#000;
  font-size:2.7em;
  font-weight: bold;
  margin-top:20px;
  margin-bottom:20px;
  letter-spacing:-2px;
}

.rootnav {
  float:left;
  margin-top:0px;
}

.rootnav li {
  padding: 12px;
  background-color: #edbc1c;
  color: #fff;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.rootnav a.link {
  text-decoration: none;
}

.rootnav a.link:hover {
  color: white;
  text-decoration: none;
}
